<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.kocesat.mybatisdemo.mapper.usergroups.GroupMapper">
    <resultMap type='Group' id='GroupResultMap'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property="memberCount" column="member_count" />
        <result property='active' column='active'/>
    </resultMap>

    <insert id="insert" parameterType="Group" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into groups (name, active)
        values (#{name}, #{active})
    </insert>

    <select id="selectById" parameterType="Integer" resultType="Group">
        select * from groups
        where id = #{id} and active = true
    </select>

    <select id="countById" parameterType="Integer" resultType="Integer">
        select count(1) from groups
        where id = #{id} and active = true
    </select>

    <select id="selectByName" parameterType="String" resultType="Group">
        select * from groups
        where name = #{name} and active = true
    </select>

    <select id="selectAll" resultType="Group">
        WITH group_summary AS (
            SELECT group_id, count(1) AS group_count
            FROM usergroups
            WHERE active = true
            GROUP BY group_id
        )
        SELECT g.*,
               coalesce(gs.group_count, 0) AS member_count
        FROM groups g
        LEFT JOIN group_summary gs
        ON gs.group_id = g.id
    </select>
</mapper>


