<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.kocesat.mybatisdemo.mapper.usergroups.GroupMapper">
    <resultMap type='Group' id='GroupResultMap'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='active' column='active'/>
    </resultMap>

    <insert id="insert" parameterType="Group" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into groups (name, active)
        values (#{name}, #{active})
    </insert>

    <select id="selectById" parameterType="Integer" resultType="Group">
        select * from groups
        where id = #{id} and active = true
    </select>

    <select id="selectByName" parameterType="String" resultType="Group">
        select * from groups
        where name = #{name} and active = true
    </select>

    <select id="selectAll" resultType="Group">
        select * from groups where active = true
    </select>
</mapper>


